In [1]:
import pandas as pd

### Model Training

In [2]:
#Reading the data
df = pd.read_csv('data/zomato.csv')
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [3]:
#Removing unwanted columns
df.drop(columns=['ID','Delivery_person_ID','Order_Date','Type_of_order'],inplace = True)
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,21:55,22:10,Fog,Jam,2,motorcycle,3.0,No,Metropolitian,46
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,14:55,15:05,Stormy,High,1,motorcycle,1.0,No,Metropolitian,23
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,17:30,17:40,Sandstorms,Medium,1,scooter,1.0,No,Metropolitian,21
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,09:20,09:30,Sandstorms,Low,0,motorcycle,0.0,No,Metropolitian,20
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,19:50,20:05,Fog,Jam,1,scooter,1.0,No,Metropolitian,41

In [4]:
#Splitting into independent and dependent features
X = df.iloc[:,:-1]
y = df[['Time_taken (min)']]

In [5]:
X.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,Festival,City
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,21:55,22:10,Fog,Jam,2,motorcycle,3.0,No,Metropolitian
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,14:55,15:05,Stormy,High,1,motorcycle,1.0,No,Metropolitian
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,17:30,17:40,Sandstorms,Medium,1,scooter,1.0,No,Metropolitian
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,09:20,09:30,Sandstorms,Low,0,motorcycle,0.0,No,Metropolitian
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,19:50,20:05,Fog,Jam,1,scooter,1.0,No,Metropolitian

In [6]:
cols_to_clean = ['Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude']
for col in cols_to_clean:
    X[col] = abs(X[col])

In [7]:

from geopy.distance import geodesic

In [8]:
#Calculation of distance from restaurent to destination
X['Distance'] = X.apply(lambda row: geodesic((row['Restaurant_latitude'], row['Restaurant_longitude']), (row['Delivery_location_latitude'], row['Delivery_location_longitude'])).miles, axis=1)

In [9]:
X.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,Festival,City,Distance
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,21:55,22:10,Fog,Jam,2,motorcycle,3.0,No,Metropolitian,6.382392
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,14:55,15:05,Stormy,High,1,motorcycle,1.0,No,Metropolitian,3.870755
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,17:30,17:40,Sandstorms,Medium,1,scooter,1.0,No,Metropolitian,8.552743
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,09:20,09:30,Sandstorms,Low,0,motorcycle,0.0,No,Metropolitian,1.819247
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,19:50,20:05,Fog,Jam,1,scooter,1.0,No,Metropolitian,12.038125

In [10]:
#Remove unwanted columns
X.drop(columns = ['Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude','Time_Orderd','Time_Order_picked'],inplace = True)

In [11]:
X.head()

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,Festival,City,Distance
0,36.0,4.2,Fog,Jam,2,motorcycle,3.0,No,Metropolitian,6.382392
1,21.0,4.7,Stormy,High,1,motorcycle,1.0,No,Metropolitian,3.870755
2,23.0,4.7,Sandstorms,Medium,1,scooter,1.0,No,Metropolitian,8.552743
3,34.0,4.3,Sandstorms,Low,0,motorcycle,0.0,No,Metropolitian,1.819247
4,24.0,4.7,Fog,Jam,1,scooter,1.0,No,Metropolitian,12.038125

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_Age      43730 non-null  float64
 1   Delivery_person_Ratings  43676 non-null  float64
 2   Weather_conditions       44968 non-null  object
 3   Road_traffic_density     44983 non-null  object
 4   Vehicle_condition        45584 non-null  int64
 5   Type_of_vehicle          45584 non-null  object
 6   multiple_deliveries      44591 non-null  float64
 7   Festival                 45356 non-null  object
 8   City                     44384 non-null  object
 9   Distance                 45584 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [13]:
#Numerical and Categorical featuers
categorical_features = X.select_dtypes(include='object').columns
numerical_features = X.select_dtypes(exclude='object').columns

In [14]:
X[numerical_features]

,Delivery_person_Age,Delivery_person_Ratings,Vehicle_condition,multiple_deliveries,Distance
0,36.0,4.2,2,3.0,6.382392
1,21.0,4.7,1,1.0,3.870755
2,23.0,4.7,1,1.0,8.552743
3,34.0,4.3,0,0.0,1.819247
4,24.0,4.7,1,1.0,12.038125
...,...,...,...,...,...
45579,30.0,4.8,1,0.0,0.924670
45580,21.0,4.6,0,1.0,6.824670
45581,30.0,4.9,1,0.0,2.888148
45582,20.0,4.7,0,1.0,3.864722
45583,23.0,4.9,2,1.0,7.492055

In [15]:
X[categorical_features]

,Weather_conditions,Road_traffic_density,Type_of_vehicle,Festival,City
0,Fog,Jam,motorcycle,No,Metropolitian
1,Stormy,High,motorcycle,No,Metropolitian
2,Sandstorms,Medium,scooter,No,Metropolitian
3,Sandstorms,Low,motorcycle,No,Metropolitian
4,Fog,Jam,scooter,No,Metropolitian
...,...,...,...,...,...
45579,Windy,High,motorcycle,No,Metropolitian
45580,Windy,Jam,motorcycle,No,Metropolitian
45581,Cloudy,Low,scooter,No,Metropolitian
45582,Cloudy,High,motorcycle,No,Metropolitian
45583,Fog,Medium,scooter,No,Metropolitian

In [16]:
# Define the custom ranking for each ordinal variable

In [17]:
weather_categories = ['Sunny','Windy','Stormy','Sandstorms','Fog','Cloudy']
traffic_categories = ['Low','Medium','High','Jam']
vehicletype_categories = ['scooter','electric_scooter','motorcycle','bicycle']
festival_map = ['No','Yes']
city_categories = ['Urban','Metropolitian','Semi-Urban']

In [18]:
from sklearn.impute import SimpleImputer #Handling Missing values
from sklearn.preprocessing import StandardScaler #Handle Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding

##pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [19]:
##Numerical Pipeline

num_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
    ]
    
)

##Categorical Pipeline

cat_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(
            categories=['weather_categories','traffic_categories','vehicletype_categories','festival_map','city_categories'])),
        ('scaler',StandardScaler())
    ]

)

preprocessor = ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_features),
    ('cat_pipeline',cat_pipeline,categorical_features)
])

In [20]:
##Numerical Pipeline

num_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
    ]
    
)

##Categorical Pipeline

cat_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='most_frequent')),
         ('ordinalencoder', OrdinalEncoder(categories=[
            ['Sunny','Windy','Stormy','Sandstorms','Fog','Cloudy'],
            ['Low','Medium','High','Jam'],
            ['scooter','electric_scooter','motorcycle','bicycle'],
            ['No','Yes'],
            ['Urban','Metropolitian','Semi-Urban']
        ])),
        ('scaler',StandardScaler())
    ]

)

preprocessor = ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_features),
    ('cat_pipeline',cat_pipeline,categorical_features)
])

In [21]:
## Train test split
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=30)

In [22]:
X_train

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,Festival,City,Distance
5755,36.0,4.1,Sandstorms,Jam,0,motorcycle,0.0,No,Metropolitian,6.578305
9163,29.0,3.6,Sunny,Jam,0,motorcycle,3.0,Yes,Urban,5.638635
16410,31.0,4.8,Windy,Low,2,scooter,1.0,No,Metropolitian,1.852335
36945,33.0,4.2,Windy,Jam,2,scooter,1.0,No,Metropolitian,12.458350
14679,34.0,4.1,Windy,Low,0,motorcycle,1.0,No,Urban,1.897833
...,...,...,...,...,...,...,...,...,...,...
919,37.0,4.9,Sunny,Low,1,motorcycle,0.0,No,Urban,1.852325
33268,28.0,4.9,Fog,Medium,2,motorcycle,0.0,No,Metropolitian,4.766010
44845,20.0,NaN,Fog,Low,2,scooter,1.0,No,Metropolitian,7.512940
4517,34.0,4.6,Cloudy,Low,1,motorcycle,NaN,No,Metropolitian,1.925644
38693,22.0,4.7,Windy,Jam,0,motorcycle,1.0,No,Metropolitian,4.813151

In [23]:
X_train = pd.DataFrame(preprocessor.fit_transform(X_train),columns = preprocessor.get_feature_names_out())
X_test = pd.DataFrame(preprocessor.transform(X_test),columns = preprocessor.get_feature_names_out())

In [24]:
X_train

,num_pipeline__Delivery_person_Age,num_pipeline__Delivery_person_Ratings,num_pipeline__Vehicle_condition,num_pipeline__multiple_deliveries,num_pipeline__Distance,cat_pipeline__Weather_conditions,cat_pipeline__Road_traffic_density,cat_pipeline__Type_of_vehicle,cat_pipeline__Festival,cat_pipeline__City
0,1.124025,-1.623440,-1.223528,-1.318236,0.155639,0.270510,1.308057,0.812982,-0.142953,0.516375
1,-0.106505,-3.143059,-1.223528,3.943714,-0.114210,-1.491607,1.308057,0.812982,6.995304,-1.859815
2,0.245075,0.504025,1.160323,0.435747,-1.201540,-0.904234,-1.093916,-1.344423,-0.142953,0.516375
3,0.596655,-1.319517,1.160323,0.435747,1.844238,-0.904234,1.308057,-1.344423,-0.142953,0.516375
4,0.772445,-1.623440,-1.223528,0.435747,-1.188474,-0.904234,-1.093916,0.812982,-0.142953,-1.859815
...,...,...,...,...,...,...,...,...,...,...
31903,1.299815,0.807948,-0.031602,-1.318236,-1.201542,-1.491607,-1.093916,0.812982,-0.142953,-1.859815
31904,-0.282295,0.807948,1.160323,-1.318236,-0.364806,0.857882,-0.293258,0.812982,-0.142953,0.516375
31905,-1.688616,0.200101,1.160323,0.435747,0.424043,0.857882,-1.093916,-1.344423,-0.142953,0.516375
31906,0.772445,-0.103822,-0.031602,0.435747,-1.180487,1.445254,-1.093916,0.812982,-0.142953,0.516375
31907,-1.337036,0.200101,-1.223528,0.435747,-0.351268,-0.904234,1.308057,0.812982,-0.142953,0.516375

In [26]:
X_train.head()

,num_pipeline__Delivery_person_Age,num_pipeline__Delivery_person_Ratings,num_pipeline__Vehicle_condition,num_pipeline__multiple_deliveries,num_pipeline__Distance,cat_pipeline__Weather_conditions,cat_pipeline__Road_traffic_density,cat_pipeline__Type_of_vehicle,cat_pipeline__Festival,cat_pipeline__City
0,1.124025,-1.623440,-1.223528,-1.318236,0.155639,0.270510,1.308057,0.812982,-0.142953,0.516375
1,-0.106505,-3.143059,-1.223528,3.943714,-0.114210,-1.491607,1.308057,0.812982,6.995304,-1.859815
2,0.245075,0.504025,1.160323,0.435747,-1.201540,-0.904234,-1.093916,-1.344423,-0.142953,0.516375
3,0.596655,-1.319517,1.160323,0.435747,1.844238,-0.904234,1.308057,-1.344423,-0.142953,0.516375
4,0.772445,-1.623440,-1.223528,0.435747,-1.188474,-0.904234,-1.093916,0.812982,-0.142953,-1.859815

In [27]:
## Model Training
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [32]:
import numpy as np
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mse)
    r2_score1 = r2_score(true,predicted)

    return mae,rmse,r2_score1

In [37]:
## Train multiple models

models = {
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'ElasticNet':ElasticNet()
}

model_list = []
r2_list = []

for i in range(len(models)):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred = model.predict(X_test)

    mae,rmse,r2_score1=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print('RMSE',rmse)
    print('MAE',mae)
    print('r2 score',r2_score1*100)

    r2_list.append(r2_score1)
    print("="*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE 6.198917954170911
MAE 4.949379538659274
r2 score 55.57359252796801
===================================


Lasso
Model Training Performance
RMSE 6.670081942278305
MAE 5.340128551751833
r2 score 48.56345875586388
===================================


Ridge
Model Training Performance
RMSE 6.198916903433379
MAE 4.949380151302712
r2 score 55.573607588818994
===================================


ElasticNet
Model Training Performance
RMSE 6.7354108022620975
MAE 5.411533776450858
r2 score 47.550953513326846
===================================